@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* For WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #ffa602; /* teal-500 */
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffa602 transparent;
}
